.Yj {
  font-family: sans-serif;
  text-align: center;
}
.heart{
  color: red;
}
.nm{
  color:aqua
}
.ak{
  height: 200px;
  width: 200px;
  border-radius: 100px;
  object-fit: cover;
}
.emoj{
  color: red;
}
